<!-- pages/orders.html -->
{% extends 'base.html' %}
{% load mathfilters %}
{% load humanize %} 
{% block main %}


<script>
    setTimeout(function () {
    location.reload();
    }, 3000);
</script>


<div class="container my-5">
    <div class="row">
        <div class="col-12">

            <table><tr><td>
                <h1>注文一覧(全て)</h1></td><td width="200" class="text-right">
                    <a href="/order02/">
                        <button type="button" class="btn btn-info">新規注文順に並び替え</button>
                        </a></td></tr></table>

            <table class="table mb-5">
                <thead>
                    <tr>
                        <th scope="col">一覧</th>
                        <th scope="col">画像</th>
                        <th scope="col">品名</th>
                        <th scope="col">数量</th>
                        <th scope="col">注文時間</th>
                        <th scope="col">座席</th>
                        <th scope="col">調理開始時間</th>
                        <th scope="col">提供時間</th>
                        <th scope="col">キャンセル</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in items %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td><img src="/{{ item.image }}" width="auto" height="30px"></td>
                        <td>{{ item.name }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.created_at|date:"Y-m-d H:i" }}</td>
                        <td>{{ item.username }}</td>
                        <td>
                            {% if item.cook == False %}
                        未調理
                        {% else %}
                        {{item.cook}}
                        {% endif %}
                        </td>
                        <td>
                        {% if item.served == False %}
                        未提供
                        {% elif item.served == 1 %}
                        キャンセル済
                        {% else %}
                        {{item.served}}
                        {% endif %}
                        </td>
                        
                        <td>
                            {% if item.served == False %}
                        
                        {% elif item.served == 1 %}
                        キャンセル済
                        {% else %}
                        提供済
                        {% endif %}
                        </td>

                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock %}
