    <div class="container w-100 bg-secondary text-white py-4" style="max-width: 100%;">
        <div style="text-align:center;"><a class="py-2 d-none d-md-inline-block text-white" href="/cart/">|Cart|</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="py-2 d-none d-md-inline-block text-white" href="/orders/">|注文履歴|</a></div>
        {% comment %}
        <div class="row mt-5 mx-5">
        <div class="col-12 col-md">
            <h5>藤原Bar</h5>
            <small class="d-block mb-3 text-white">&copy; 2024~</small>
        </div>
        </div>
        {% endcomment %}
    </div>