<a href="/items/{{object.pk}}/">
    <div class="border">
        
        {% if object.stock == 0 %}
        <img style="position: relative;" src="/{{object.image}}" width="100%" height="200" class=" bg-white">
        <p style="position: absolute; width: 100%; left: 0; top: calc(50% - 25px); text-align: center; color: crimson; font-weight: bold; font-size: 50px; line-height: 50px;">売り切れ</p>
        {% else %}
        <img src="/{{object.image}}" width="100%" height="200" class=" bg-white">
        {% endif %}
        <div class="bg-light text-center text-secondary overflow-hidden">
            <div class="my-2 py-2">
                <h2 class="lead">{{object.name}} - ¥{{object.price}}</h2>
            </div>
        </div>
    </div>
</a>
